<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrdápio elas na buger</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body{
            background: rgb(7, 0, 0);
            color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
        }
        backgroung
    </style>
</head>
<body>
    <center>
    <img src="C:\Users\Home\Documents\cardápio\imagens\Logo de Hamburgueria Artesanal.png" width="200"> 
<font color="orange">
      <h1>Cardápio</h1>
    </font>
</center>
<hr>
<img src="C:\Users\Home\Documents\cardápio\menu\imagem\pexels-photo-750073.webp" width="200""" srcset="">
<font color="orange">
<h1> <u>Lanches</u></h1>
</font>
<p>Hambúrguer - ( pão, carne de hamburger e salada) &#36 10,00</p>   
<p>Hambúrguer artesanal - ( pão, queijo, carne de hamburger artesanal e salada) &#36 25,00</p>
<p>X-burguer - ( pão, queijo, carne de hamburguer e salada) &#36 15,00</p> 
<p>X-egg burguer (pão, carne de hamburguer, ovo e salada) &#36 17,00</p> 
<p>X-bacon (pão, bacon, queijo, carne de hamburguer e salada) &#36 18,00</p>
<p>batata frita (porção) &#36 20,00</p>
<p>batata frita com bacon (porção) &#36 25,00</p>
<hr>
<img src="imagem/pexels-photo-103566.webp" width="200" srcset="">
<font color="orange">
<h1> <u>Bebidas</u></h1>
</font>
<p>Refrigerante (lata) &#36 6,00</p>
<p>Suco da fruta (500ml) &#36 10,00</p>
<p>Água com gás &#36 5,00</p>
<p>Água &#36 3,00</p>
<p>Coquitel (500ml) &#36 18,00</p>

</body>
</html>
